
.max-width{
   
    background-image: url('/Images/Minecraft-Carregando.jpg'); /* Caminho para a imagem */
    background-size: cover; /* Faz a imagem cobrir toda a área */
    background-repeat: no-repeat; /* Impede que a imagem se repita */
    
}

#output {
    margin-top: 20px;
    font-weight: bold;
}

#login {

    display: block;
}

#Casa-Automatica{

    display: none
}

#mostrador-senha{

    display: flex;
    align-items: center;
    gap: 0px; /* Espaçamento entre o campo de senha e o botão */

}

#ajustar-temp-arcondicionado{

    display: none
}

.botao-olho{

    background: none;
    border: none;
    cursor: pointer;
    margin-left: 0px;

}

.botao-olho img{

    width: 16px; /* Tamanho reduzido */
    height: 16px;

}

#Hora {
    position: fixed; /* Fixa a div na posição, mesmo ao rolar a página */
    top: 10px; /* Distância do topo */
    right: 10px; /* Distância do lado direito */
    background-color: rgba(0, 0, 0, 0.8); /* Fundo semi-transparente */
    color: white; /* Texto branco para contraste */
    padding: 5px 10px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    font-size: 24px; /* Tamanho do texto */
    z-index: 1000; /* Garante que a div fique acima de outros elementos */
}