
.max-width{
   
    background-image: url('/Images/Minecraft-Carregando.png'); /* Caminho para a imagem */
    background-size:cover; /* Faz a imagem cobrir toda a área */
    background-attachment: fixed;
    background-repeat: repeat-y; /* Impede que a imagem se repita */
    
}

#output {
    margin-top: 20px;
    font-weight: bold;
}

#login {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 30px;
    width: 320px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login h1 {
    font-size: 64px;
    margin-bottom: 20px;
}

#login-error {
    font-size: 16px;
    color: red;
    margin-top: 10px;
}

#eye-icon {
    width: 32px;
    height: 32px;
}


#Casa-Automatica{

    display: none;
    padding-left: 20px;
    margin-top: 10px;
}

#mostrador-senha{

    display: flex;
    align-items: center;
    gap: 0px; /* Espaçamento entre o campo de senha e o botão */

}

#ajustar-temp-arcondicionado{

    display: none
}

.botao-olho{

    background: none;
    border: none;
    cursor: pointer;
    margin-left: 0px;

}

.botao-olho img{

    width: 16px; /* Tamanho reduzido */
    height: 16px;

}

#Hora {
    position: fixed; /* Fixa a div na posição, mesmo ao rolar a página */
    top: 20px; /* Distância do topo */
    right: 10px; /* Distância do lado direito */
    background-color: rgba(0, 0, 0, 0.8); /* Fundo semi-transparente */
    color: white; /* Texto branco para contraste */
    padding: 5px 10px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    font-size: 24px; /* Tamanho do texto */
    z-index: 1000; /* Garante que a div fique acima de outros elementos */
}

#temperatura-atual {

    position: fixed; /* Fixa a div na posição, mesmo ao rolar a página */
    top: 20px; /* Distância do topo */
    right: 210px; /* Distância do lado direito */
    background-color: rgba(0, 0, 0, 0.8); /* Fundo semi-transparente */
    color: white; /* Texto branco para contraste */
    padding: 5px 10px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    font-size: 24px; /* Tamanho do texto */
    z-index: 1000; /* Garante que a div fique acima de outros elementos */

}

#Energia {

    position: fixed; /* Fixa a div na posição, mesmo ao rolar a página */
    top: 20px; /* Distância do topo */
    right: 130px; /* Distância do lado direito */
    background-color: rgba(0, 0, 0, 0.8); /* Fundo semi-transparente */
    color: white; /* Texto branco para contraste */
    padding: 5px 10px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    font-size: 24px; /* Tamanho do texto */
    z-index: 1000; /* Garante que a div fique acima de outros elementos */

}


#ImagemCamera {
    position: absolute; /* A imagem será posicionada em relação ao container */
    top: 100px;
    right: 0;
    padding-right: 30px;
    transition: filter 0.5s ease;
}

#Filtro {
    width: 1000px;
    height: 550px;
    position: absolute; /* A imagem será posicionada em relação ao container */
    top: 100px;
    right: 0;
    padding-right: 50px;
    transition: filter 0.5s ease;
    z-index: 1000;

}